.recipe-header-container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-top;
}

.recipe-header {
  margin-right: 12px;
  margin-top: 8px;
  flex: 2;
  min-width: 300px;
}

.recipe-title {
  margin-bottom: 4px;
}

.recipe-credit {
  margin-bottom: 0;
}

