.recipe {
  display: flex;
  flex-wrap: wrap;
}

.left-column {
  flex: 1;
  margin-right: 12px;
}

.recipe-title {
  margin-bottom: 4px;
}

.recipe-credit {
  margin-bottom: 0;
}

.ingredients-list {
  margin: 8px 0;
  min-width: 350px;
  flex: 1;
}

.right-column {
  flex: 2;
}

.image {
  border-radius: 4px;
  box-shadow: 5px 5px 5px #ccc;
}

.instructions-list {
  flex: 2;
  min-width: 350px;
  margin: 8px 0;
}
