@value colors: "../styles/colors.css";
@value ceruleanBlue, vistaWhite from colors;

.header {
  background-color: ceruleanBlue;
  padding: 8px 16px;
  color: vistaWhite;
}

.content-wrapper {
  margin: 0 auto;
  max-width: 1000px;
}

.title-link {
  color: vistaWhite;
  text-decoration: none;
}

.titlebar {
  text-decoration: none;
  color: vistaWhite;
  margin: 0;
}
