@value colors: "../styles/colors.css";
@value vistaWhite from colors;

.link {
  text-decoration: none;
  color: vistaWhite;
  margin-right: 16px;
}

.link-text:hover {
  text-decoration: underline;
  cursor: pointer;
}
